---
layout: default
comments: true
---

<div class="post">
	<div class="post__back">
    	<a href="/">&lt;-- home</a>
    </div>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__date">
    	<p>{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
        {{ content }}
    </div>
		{% if page.comments %}
		<div id="kisudsoe.disqus.com"></div>
		<script>
		var disqus_config = function () {
			this.page.url = "http://BLOG.host.com{{ page.url }}"; // <--- use canonical URL
			this.page.identifier = "{{ page.id }}";
		};
		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//SHORTNAME.disqus.com/embed.js'; // <--- use Disqus shortname
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}
</div>
